[Unit]
Description=All Buildspace dev servers
Wants=buildspace-marketplace.service buildspace-login.service buildspace-runtime.service buildspace-studio.service buildspace-docs.service buildspace-super-admin.service buildspace-jobs.service
