[Unit]
Description=Bootstrap Buildspace dependencies
After=buildspace-infra.target
Wants=buildspace-infra.target
ConditionPathExists=%h/Code/bs/buildspace/package.json
PartOf=buildspace-stack.target

[Service]
Type=oneshot
WorkingDirectory=%h/Code/bs/buildspace
ExecStart=%h/.bun/bin/bun install --frozen-lockfile
TimeoutStartSec=30min

[Install]
WantedBy=buildspace-stack.target
