[Unit]
Description=Gloo RustFS
After=dev-network.service
Requires=dev-network.service gloo-rustfs-data-volume.service gloo-rustfs-logs-volume.service

[Container]
ContainerName=gloo-rustfs
Image=docker.io/rustfs/rustfs:latest
Pull=missing
Network=dev.network
NetworkAlias=rustfs
PublishPort=127.0.0.1:9000:9000
PublishPort=127.0.0.1:9001:9001
Volume=gloo_rustfs_data:/data
Volume=gloo_rustfs_logs:/logs

[Service]
Restart=always
