[Unit]
Description=Gloo pgAdmin
After=dev-network.service dev-postgres.service
Requires=dev-network.service dev-postgres.service gloo-pgadmin-data-volume.service
ConditionPathExists=%h/Gloo/gloo-control-plane/envs/pgadmin.env
PartOf=gloo-admin.service

[Container]
ContainerName=gloo-pgadmin
Image=docker.io/dpage/pgadmin4:8
Pull=missing
Network=dev.network
NetworkAlias=pgadmin
PublishPort=127.0.0.1:5050:80
EnvironmentFile=%h/Gloo/gloo-control-plane/envs/pgadmin.env
Environment=PGADMIN_LISTEN_PORT=80
Volume=gloo_pgadmin_data:/var/lib/pgadmin

[Service]
Restart=always
