apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-limiter-manual
  namespace: searxng
data:
  limiter.toml: |
    [botdetection]
    
    ipv4_prefix = 32
    ipv6_prefix = 48

    trusted_proxies = [
      '0.0.0.0/0',        # Trust ALL (Debug/Internal only)
      '::/0',
    ]

    [botdetection.ip_limit]
    
    filter_link_local = false
    link_token = false

    [botdetection.ip_lists]
    
    block_ip = []
    pass_ip = []
    pass_searxng_org = true
