apiVersion: v1
kind: Namespace
metadata:
  name: searxng
---
apiVersion: v1
kind: Service
metadata:
  name: searxng-nodeport
  namespace: searxng
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: searxng
    app.kubernetes.io/instance: searxng
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
      nodePort: 30084









