# Environment files (decrypted)
env.*
.env
*.env

# Rust
**/target/

# Decrypted secrets
secrets/*.yml
secrets/*.env

# Archive
.archived
result
hosts/thinkpad/image/state/
**/__pycache__

# Images
*.cfs
