[Unit]
Description=NFS mount for NAS backups
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.20.31:/mnt/tank/backups
Where=/var/mnt/tank/backups
Type=nfs
Options=_netdev,auto
TimeoutSec=30

[Install]
WantedBy=multi-user.target
