version: '3.8'

services:
  dozzle:
    image: amir20/dozzle:latest
    environment:
      - DOZZLE_MODE=swarm
      - DOZZLE_ENABLE_ACTIONS=false
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8080:8080"
    networks:
      - dozzle
    deploy:
      mode: global
      restart_policy:
        condition: on-failure

networks:
  dozzle:
    driver: overlay
