[package]
name = "brunch"
version = "0.0.1"
edition = "2021"

[dependencies]
clap = { version = "4.5", features = ["derive"] }
anyhow = "1.0"
dirs = "5.0"
log = "0.4"
env_logger = "0.11"
walkdir = "2.5"

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
