[Unit]
Description=Caddy Reverse Proxy (Internal Services)
After=network-online.target
Wants=network-online.target

[Container]
Image=localhost/caddy-route53:latest
Network=host
Volume=/var/home/crussell/Code/cn/servers/hub/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,Z
Volume=/var/home/crussell/.local/state/brunch/current/files/home/.config/caddy/routes:/etc/caddy/imports/routes:ro,Z
Volume=caddy_data:/data
Volume=caddy_config:/config
EnvironmentFile=/var/home/crussell/Code/cn/servers/hub/caddy/aws.env

[Service]
Restart=unless-stopped
RestartSec=5

[Install]
WantedBy=multi-user.target
