[Unit]
Description=All Gloo dev servers
Wants=gloo-gpl.service gloo-hb-api.service gloo-hb-web.service gloo-storyhub.service gloo-storyhub-worker.service gloo-polymer.service
