[Unit]
Description=Gloo Hummingbird Web dev server
After=network-online.target
Wants=network-online.target
PartOf=gloo-hummingbird.target

[Service]
Type=simple
ExecStartPre=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/render-runtime-env.sh hb-web
ExecStart=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/run-service.sh hb-web
Restart=on-failure
RestartSec=2
RestartPreventExitStatus=78
WorkingDirectory=/var/home/crussell/Gloo/360-hummingbird

[Install]
WantedBy=default.target
