[Unit]
Description=Gloo Storyhub dev server
After=network-online.target
Wants=network-online.target
PartOf=gloo-storyhub.target

[Service]
Type=simple
ExecStartPre=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/render-runtime-env.sh storyhub
ExecStart=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/run-service.sh storyhub
Restart=on-failure
RestartSec=2
WorkingDirectory=/var/home/crussell/Gloo/360-hummingbird/storyhub

[Install]
WantedBy=default.target
