[Unit]
Description=Gloo GPL dev server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/render-runtime-env.sh gpl
ExecStart=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/run-service.sh gpl
Restart=on-failure
RestartSec=2
WorkingDirectory=/var/home/crussell/Gloo/360-gpl

[Install]
WantedBy=default.target
