[Unit]
Description=Gloo Polymer dev server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/render-runtime-env.sh polymer
ExecStart=/var/home/crussell/Code/cn/servers/hub/dev-stacks/gloo/systemd/run-service.sh polymer
Restart=on-failure
RestartSec=2
RestartPreventExitStatus=78
WorkingDirectory=/var/home/crussell/Gloo/360-polymer/apps/polymer

[Install]
WantedBy=default.target
