[Unit]
Description=Linkding Bookmark Manager
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/sissbruecker/linkding:latest
ContainerName=linkding
Environment=LD_CSRF_TRUSTED_ORIGINS=https://linkding.internal.crussell.io
Environment=LD_DISABLE_BACKGROUND_TASKS=False
Environment=TZ=America/New_York
PublishPort=30080:9090
Volume=/var/lib/linkding/data:/etc/linkding/data

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
