[Unit]
Description=Open WebUI
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/open-webui/open-webui:latest
ContainerName=open-webui
Environment=DATA_DIR=/app/backend/data
PublishPort=30088:8080
Volume=/srv/open-webui/data:/app/backend/data

[Service]
Restart=unless-stopped
RestartSec=5

[Install]
WantedBy=multi-user.target
