[Desktop Entry]
Type=Application
Name=WezTerm
Comment=WezTerm terminal (shellbox `default`)
Exec=/var/home/crussell/.local/share/shellbox/exports/bin/wezterm
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=terminal;shell;
Terminal=false
StartupWMClass=org.wezfurlong.wezterm
