[Unit]
Description=Beszel Monitoring Agent
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:latest
Network=host
Volume=%h/beszel-agent/data:/var/lib/beszel-agent
Environment=LISTEN=45876
Environment=KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBSF6CQSQRZYRw5VkfmTwAQt0KkHLDhx9ukqNzryWLv1"
Environment=HUB_URL=http://192.168.20.105:8090
Environment=TOKEN=55f10155-7a92-4e2b-9fd4-4b08d5436ab1
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
