[Unit]
Description=Beszel Monitoring Agent
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:latest
Network=host
Volume=%h/beszel-agent/data:/var/lib/beszel-agent
Environment=LISTEN=45876
Environment=HUB_URL=http://192.168.20.105:8090
EnvironmentFile=/srv/beszel/secrets.env
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
