[user]
	name = Chad Russell
	email = chaddouglasrussell@gmail.com

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status -sb
  last = log -1 --stat
  lg = log --graph --decorate --oneline --abbrev-commit
