[Unit]
Description=Audiobookshelf Audiobook/Podcast Server
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/advplyr/audiobookshelf:latest
PublishPort=30337:80
Volume=/srv/audiobookshelf/audiobooks:/audiobooks
Volume=/srv/audiobookshelf/config:/config
Volume=/srv/audiobookshelf/metadata:/metadata
Volume=/srv/audiobookshelf/podcasts:/app/podcasts
Environment=TZ=America/New_York
Environment=AUDIOBOOKSHELF_HOSTNAME=audiobookshelf
HealthCmd=/usr/bin/wget --quiet --tries=1 --spider http://localhost:80/
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3
HealthStartPeriod=60s

[Service]
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
