apiVersion: v1
kind: Namespace
metadata:
  name: immich
---
apiVersion: v1
kind: Secret
metadata:
  name: immich-postgres-auth
  namespace: immich
type: Opaque
stringData:
  username: immich
  password: immich_secret_password_change_me
---
apiVersion: v1
kind: Secret
metadata:
  name: immich-superuser-auth
  namespace: immich
type: Opaque
stringData:
  username: postgres
  password: postgres_superuser_secret
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: immich-database
  namespace: immich
spec:
  instances: 1
  superuserSecret:
    name: immich-superuser-auth
  storage:
    size: 50Gi
    storageClass: longhorn
  imageName: ghcr.io/tensorchord/cloudnative-vectorchord:16.9-0.4.3
  postgresql:
    shared_preload_libraries:
      - "vchord.so"
  bootstrap:
    initdb:
      database: immich
      owner: immich
      secret:
        name: immich-postgres-auth
      postInitApplicationSQL:
        - CREATE EXTENSION vchord CASCADE;
        - CREATE EXTENSION earthdistance CASCADE;